footer {
  font: 0.875rem/150% var(--font-family);

  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  
  padding-block: 1.5rem;

}

footer span:nth-child(1) {
  place-self: center;
}

.terms {
  display: flex;
  gap: 1.5rem;
  place-content: center;
}

@media (width >= 80em) {
  & footer {
    flex-direction: row;
    padding-inline: 1.5rem;
  }

  & footer span:nth-child(1) {
    margin-right: auto;
  }
}