*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --brand-color: #EF5F4C;
  --background-color: #fcfcfc;
  --surface-color: #F5F5F5;
  --Skeleton-color: #b8b8b8;
  --shape-transparency: #FFFFFF8f;
  --text-color-prim: #313131;
  --text-color-second: #6C6C6C;

  --font-family: "Poppins", sans-Serif ;
  --text-lg: bold 2rem/125% var(--font-family);
  --text: 1rem/150% var(--font-family);
  --text-md: 0.875rem/170% var(--font-family);
  --text-sm: 0.75rem/170% var(--font-family);
}

body {
  color: var(--text-color-second);
  background-color: var(--background-color);
  font: var(--text-md);
}

html {
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: var(--brand-color);
  text-decoration: underline;
}

@media (width >= 80em) {
  body {
    display: flex;
    flex-direction: column;
    place-items: center;
  }
}