header {
  padding-block: 1rem;
  font: var(--text-md); 
}

& header p {
  width: 20rem;
}

#profile {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-bottom: 1rem;
}

#profile > div {
  max-width: 24rem;
}

#profile img {
  max-height: 8rem;
  max-width: 8rem;
  object-fit: cover;

  border-radius: 50%;
  border: 2px solid var(--brand-color);
}

#profile h1 {
  font: var(--text-lg);
  color: var(--text-color-prim);
  margin-bottom: .5rem;
}

#info {
  list-style: none;

  display: flex;
  flex-direction: column;
  gap: 1rem;

  width: 17.5rem;
}

#info li {
  display: flex;
  align-items: center;
  gap: .5rem;
}

@media (width >= 80em) {
  & header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  
  #profile {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-inline: 2rem;
    gap: 2rem;
    
    &#profile img {
      max-height: 11.25rem;
      max-width: 11.25rem;
    }
  }
}